<router-outlet></router-outlet>
<div class="books-page">
  <div class="books-page__container">
    <img
      src="../../../assets/images/coverBackground2.jpg"
      alt="coverPhoto"
      class="books-page__background-photo"
    />
    <div class="books-page__items">
      <div class="books-page__item book" *ngFor="let book of books">
        <fa-icon
          class="book__delete-button"
          [icon]="faClose"
          (click)="openModal(book.id, $event)"
        ></fa-icon>
        <div
          class="book__container"
          [routerLink]="'book'"
          [queryParams]="{ id: book.id }"
        >
          <span
            *ngIf="book.status === 'wish'"
            [ngStyle]="{
              color: 'rgba(6, 121, 15, 0.979)',
              'font-weight': 'bold'
            }"
            >Wish</span
          >
          <span
            *ngIf="book.status === 'inProgress'"
            [ngStyle]="{ color: 'rgb(219, 144, 5)', 'font-weight': 'bold' }"
            >Reading now</span
          >
          <span
            *ngIf="book.status === 'finished'"
            [ngStyle]="{
              color: 'rgba(215, 17, 17, 0.811)',
              'font-weight': 'bold'
            }"
            >Finished</span
          >
          <div class="book__text">
            <h2 class="book__title">{{ book.title }}</h2>
            <div class="book__description">
              {{ book.description! | cutText }}
            </div>
          </div>
          <div class="book__rating">
            <fa-icon
              class="book__rating_filled"
              [icon]="faStar"
              *ngFor="let item of createRangeOfStars(book.rating)"
            ></fa-icon
            ><fa-icon
              class="book__rating_empty"
              [icon]="faStar"
              *ngFor="let item of createRangeOfStars(book.rating, true)"
            ></fa-icon>
          </div>
        </div>
      </div>
      <div class="books-page__item book book_content-center">
        <fa-icon
          class="book__plus-button"
          [icon]="faPlus"
          [routerLink]="'/add'"
          [queryParams]="{ doc: 'books' }"
        ></fa-icon>
      </div>
    </div>
    <div class="books-page__filters filters-books-page">
      <form [formGroup]="filterForm" class="books-page__filter">
        <mat-form-field
          appearance="outline"
          class="filters-books-page__status-select"
        >
          <mat-select formControlName="status" panelClass="status-select-panel">
            <mat-option value="all">All</mat-option>
            <mat-option value="wish">Wish</mat-option>
            <mat-option value="inProgress">Reading now</mat-option>
            <mat-option value="finished">Finished</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <notifier-container></notifier-container>
  </div>
  <app-modal-window
    *ngIf="modalOpened"
    (positiveAnswer)="deleteBook(this.currentId)"
    (negativeAnswer)="closeModal()"
    [blockItem]="'book'"
  ></app-modal-window>
</div>
