.backdrop {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.635);
  z-index: 98;
}
.edit-movie {
  position: absolute;
  top: 100px;
  right: 30%;
  z-index: 100;
  background-color: whitesmoke;
  border-radius: 5px;
  width: 40%;
  height: 75%;
  overflow-y: auto;
  @media (max-width: 900px) {
    width: 70%;
    right: 15%;
  }
  @media (max-width: 500px) {
    width: 80%;
    height: 67%;
    right: 10%;
  }
  &__container {
    padding: 3% 10%;
  }

  // .edit-book__form

  &__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    @media (max-width: 500px) {
      gap: 1px;
    }
  }
  &__delete-button {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 25px;
    transition: transform 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
.form {
  text-align: center;
  &__title {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    @media (max-width: 500px) {
      font-size: 20px;
    }
  }
}

::ng-deep {
  $formItemsColor: rgba(100, 173, 161, 0.894);
  .status-select-panel.mat-select-panel {
    background: rgba(100, 173, 161, 0.644);
  }

  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $formItemsColor;
  }
  .mat-primary .mat-option.mat-selected {
    &:not(.mat-option-disabled) {
      color: $formItemsColor;
      font-weight: 500;
    }
  }
  .mat-select-value,
  .mat-option-text {
    font-size: 18px;
  }
  .mat-select-arrow {
    color: $formItemsColor !important;
  }
  .mat-form-field-label {
    color: black !important;
  }
  .mat-input-element {
    caret-color: $formItemsColor;
  }
}
