<div class="book-page">
  <div class="book-page__container">
    <div class="book-page__buttons">
      <button
        class="book-page__button start-button"
        type="button"
        *ngIf="book?.status === 'wish'"
        (click)="startReading()"
      >
        Start reading
      </button>
      <button
        class="book-page__button finish-button"
        type="button"
        *ngIf="book?.status === 'inProgress'"
        (click)="finishReading()"
      >
        Finish reading
      </button>
      <button
        class="book-page__button delete-button"
        type="button"
        (click)="openModal($event)"
      >
        Delete
      </button>
    </div>
    <div class="book-page__main">
      <img
        src="../../../assets/images/coverBackground2.jpg"
        alt="coverPhoto"
        class="book-page__background-photo"
      />
      <div class="book-page__main-side main-side">
        <span class="main-side__block-title">Title</span>
        <div
          class="main-side__title block-style"
          id="title"
          (dblclick)="permitEdit($event)"
          (blur)="stopEditing($event, book.id, validator.isValidTitle($event))"
        >
          {{ book?.title }}
        </div>
        <span class="main-side__block-title">Description</span>
        <div
          class="main-side__description block-style"
          id="description"
          (dblclick)="permitEdit($event)"
          (blur)="stopEditing($event, book.id)"
        >
          {{ book?.description }}
        </div>
        <span class="main-side__block-title">Website</span>
        <div
          class="main-side__website block-style"
          id="website"
          (dblclick)="permitEdit($event)"
          (blur)="
            stopEditing($event, book.id, validator.isValidWebsite($event))
          "
        >
          <a href="{{ book?.website }}">{{ book?.website }}</a>
        </div>
      </div>
      <div class="book-page__sub-side sub-side">
        <span class="sub-side__block-title">Rating</span>
        <div
          class="sub-side__rating block-style text-center"
          id="rating"
          (dblclick)="permitEdit($event)"
          (blur)="stopEditing($event, book.id, validator.isValidRating($event))"
        >
          {{ book?.rating }}
        </div>
        <span class="sub-side__block-title">Year</span>
        <div
          class="sub-side__year block-style text-center"
          id="released"
          (dblclick)="permitEdit($event)"
          (blur)="stopEditing($event, book.id, validator.isValidYear($event))"
        >
          {{ book?.released }}
        </div>
        <span class="sub-side__block-title">Genre</span>
        <select
          name="genre"
          id="genre"
          #select
          class="sub-side__genre block-style text-center"
          (change)="test(select)"
        >
          <option
            *ngFor="let genre of genres"
            value="{{ genre }}"
            [selected]="genre === book?.genre"
          >
            {{ genre }}
          </option>
        </select>
        <span class="sub-side__block-title">Status</span>
        <div
          class="sub-side__status text-center block-style"
          *ngIf="book?.status"
          [ngStyle]="{ 'background-color': getStatusBlockColor() }"
        >
          <span *ngIf="book?.status === 'wish'">Wish</span>
          <span *ngIf="book?.status === 'inProgress'">Reading now</span>
          <span *ngIf="book?.status === 'finished'">Finished</span>
        </div>
        <span
          *ngIf="book?.status === 'inProgress'"
          class="sub-side__block-title"
          >Current page</span
        >
        <div
          class="sub-side__page block-style text-center"
          *ngIf="book?.status === 'inProgress'"
          id="currentPage"
          (dblclick)="permitEdit($event)"
          (blur)="
            stopEditing($event, book.id, validator.isValidCurrentPage($event))
          "
        >
          {{ book.currentPage }}
        </div>
        <span
          *ngIf="book?.status === 'finished'"
          class="sub-side__block-title"
          >Finished year</span
        >
        <div
          class="sub-side__page block-style text-center"
          *ngIf="book?.status === 'finished'"
          id="doneYear"
          (dblclick)="permitEdit($event)"
          (blur)="stopEditing($event, book.id, validator.isValidYear($event))"
        >
          {{ book.doneYear }}
        </div>
      </div>
    </div>
  </div>
  <notifier-container></notifier-container>
</div>
<app-modal-window
  *ngIf="modalOpened"
  (positiveAnswer)="deleteBook(book.id)"
  (negativeAnswer)="closeModal()"
  [blockItem]="'book'"
></app-modal-window>
