<router-outlet></router-outlet>
<div class="movies-page">
  <div class="movies-page__container">
    <img
      src="../../../assets/images/coverBackground2.jpg"
      alt="coverPhoto"
      class="movies-page__background-photo"
    />
    <div class="movies-page__items">
      <div class="movies-page__item movie" *ngFor="let movie of movies">
        <fa-icon
          class="movie__delete-button"
          [icon]="faClose"
          (click)="openModal(movie.id, $event)"
        ></fa-icon>
        <div
          class="movie__container"
          [routerLink]="'movie'"
          [queryParams]="{ id: movie.id }"
        >
          <span
            *ngIf="movie.status === 'wish'"
            [ngStyle]="{
              color: 'rgba(6, 121, 15, 0.979)',
              'font-weight': 'bold'
            }"
            >Wish</span
          >
          <span
            *ngIf="movie.status === 'inProgress'"
            [ngStyle]="{ color: 'rgb(219, 144, 5)', 'font-weight': 'bold' }"
            >Watching now</span
          >
          <span
            *ngIf="movie.status === 'finished'"
            [ngStyle]="{
              color: 'rgba(215, 17, 17, 0.811)',
              'font-weight': 'bold'
            }"
            >Finished</span
          >
          <div class="movie__text">
            <h2 class="movie__title">{{ movie.title }}</h2>
            <div class="movie__description">
              {{ movie.description! | cutText }}
            </div>
          </div>
          <div class="movie__rating">
            <fa-icon
              class="movie__rating_filled"
              [icon]="faStar"
              *ngFor="let item of createRangeOfStars(movie.rating)"
            ></fa-icon
            ><fa-icon
              class="movie__rating_empty"
              [icon]="faStar"
              *ngFor="let item of createRangeOfStars(movie.rating, true)"
            ></fa-icon>
          </div>
        </div>
      </div>
      <div class="movies-page__item movie movie_content-center">
        <fa-icon
          class="movie__plus-button"
          [icon]="faPlus"
          [routerLink]="'/add'"
          [queryParams]="{ doc: 'films' }"
        ></fa-icon>
      </div>
    </div>
    <div class="movies-page__filters filters-movies-page">
      <form [formGroup]="filterForm" class="movies-page__filter">
        <mat-form-field
          appearance="outline"
          class="filters-movies-page__status-select"
        >
          <mat-select formControlName="status" panelClass="status-select-panel">
            <mat-option value="all">All</mat-option>
            <mat-option value="wish">Wish</mat-option>
            <mat-option value="inProgress">Reading now</mat-option>
            <mat-option value="finished">Finished</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <notifier-container></notifier-container>
  </div>
  <app-modal-window
    *ngIf="modalOpened"
    (positiveAnswer)="deleteMovie(this.currentId)"
    (negativeAnswer)="closeModal()"
    [blockItem]="'movie'"
  ></app-modal-window>
</div>
